[Desktop Entry]
Type=Application
Name=gsnag
GenericName=Screen capture and recording
GenericName[sv]=Skärmbilder och inspelning
GenericName[de]=Bildschirmaufnahme und Video
Comment=Capture, annotate and record your screen
Comment[sv]=Fånga, redigera och spela in skärmen
Comment[de]=Bildschirm aufnehmen und Bilder bearbeiten
Exec=gsnag tray
Icon=gsnag
Terminal=false
Categories=Graphics;
Keywords=screenshot;capture;annotation;video;recording;
Keywords[sv]=skärmbild;skärmdump;markering;
StartupNotify=false
Keywords[de]=Bildschirmfoto;Aufnahme;Video;
Actions=CaptureRegion;Record;

[Desktop Action CaptureRegion]
Name=Capture region
Name[sv]=Fånga region
Name[de]=Bereich aufnehmen
Exec=gsnag capture region --edit

[Desktop Action Record]
Name=Record video
Name[sv]=Spela in video
Name[de]=Video aufnehmen
Exec=gsnag record
